<head>
<style type="text/css">
  dl { border-top:solid #cccccc; 2px; }
  dt { font-weight:bold; }
</style>
</head>
<body>
<h1>HISTORY / 履歴</h1>


<dl class="softinfo">
  <dt>版 / Version:
  <dd>2.2

  <dt>公開日 / Release Date:
  <dd>2006.11.7

  <dt>主な変更点 / Changes:
  <dd>
    <ul>
      <li>HTML/XML, CSSに対応。
      <li>[Python] バグフィックス。長い文字列を誤判定していた。
      <li>[Ruby] バグフィックス。%表記でエラーになることがあった。defined?はキーワード。
      <li>[C/C++] 動かなくなっていたのを修正。
      <li>Factory.format() を追加。ERBで使いやすいようにした。
      <li>行番号を出力するかどうか選択できるようにした。
      <li>コマンドラインオプションで言語名を指定できるようにした。
    </ul>
</dl>





<dl class="softinfo">
  <dt>版 / Version:
  <dd>2.1

  <dt>公開日 / Release Date:
  <dd>2006.10.26

  <dt>主な変更点 / Changes:
  <dd>
    <ul>
      <li>Pythonに対応。
      <li>[Ruby] 誤った字句解析をしてしまうパターンをいくつか修正。
    </ul>
</dl>






<dl class="softinfo">
  <dt>版 / Version:
  <dd>2.0

  <dt>公開日 / Release Date:
  <dd>2006.8.19

  <dt>主な変更点 / Changes:
  <dd>
    <ul>
      <li>[Ruby] リテラルを細分化し、数値、文字列、正規表現、シンボル、配列を区別するようにした。
      <li>[Ruby] インスタンス変数、クラス変数、グローバル変数、定数などを区別するようにした。
      <li>Ruby字句解析器を新しく起こした。車輪の再発明。しかしRubyの字句解析って、それ何て変態？というぐらい複雑。まだ完全ではない。irb/ruby-lex.rb, rdoc/parsers/parse_rb.rb との違いは、ヒアドキュメントもスクリプト上の出現順にトークンを生成する。
    </ul>
</dl>

<dl class="softinfo">
  <dt>版 / Version:
  <dd>1.1

  <dt>公開日 / Release Date:
  <dd>2004.11.01

  <dt>主な変更点 / Changes:
  <dd>
    <ul>
      <li>HtmlFormatter を分離した。スタイルの変更がし易くなるかも。
      <li>正規表現リテラルのオプション /.../xxx に対応。
      <li>%q(...), %Q(...), %r(...) に対応。
      <li>ライセンスをCommon Public Licenseに変更した。
      <li>READMEファイルに使い方などを書いた。
    </ul>
</dl>



<dl class="softinfo">
  <dt>版 / Version:
  <dd>1.0

  <dt>公開日 / Release Date:
  <dd>2001.10.30

  <dt>主な変更点 / Changes:
  <dd>
    <ul>
      <li>=begin〜=endはHTML外で整形するようにした。
    </ul>
</dl>






<p>2001.7.14
<ul>
  <li>Java, C++ソースも整形できるようになった。
</ul>


<p>2001.4.30
<ul>
  <li>Rubyの主要なリテラルに対応
</ul>


<p>2001.4.28
<ul>
  <li>初公開
</ul>

<hr>
</body></html>
