#!/usr/bin/erb
<body>
<p>行番号なし。
<% require 'rb2html/factory' %>
<%= Rb2HTML::Factory.format 'ruby', <<EOF, :lineno=>false
def n(v); p v; end
EOF
  %>

<p>行番号あり。:linenoを省略すると1から開始。
<%= Rb2HTML::Factory.format 'ruby', <<EOF, :lineno=>21
require 'foo'
class Foo
end
EOF
  %>

<p>あらかじめ整形オブジェクトを作っておく。
<% pyf = Rb2HTML::Factory.get_formatter 'python' %>
<%= pyf.format_code <<EOF, false
import os
filename = os.environ.get('PYTHONSTARTUP')
if filename and os.path.isfile(filename):
    execfile(filename)
EOF
%>
</body>
